.header-wrapper{
    background-color: orange;
    display: flex;
    align-items: center;
    
}

.image-wrapper{
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.header-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}