.main-wrapper{
    width: 30rem;
    height: 40rem;
    text-align: center;
    margin-left: 2rem;

    
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: radial-gradient(white 5%, orange);
    border-radius: 10px;
}
.card-wrapper img{
    border-radius: 50%;

}

.image-header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn{
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    font-weight: bolder;
    transition: all 0.3s;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 1px 3px 3px 1px black;
    transform: translateY(5px);
}