* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 239, 106);
  height: 100vh;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.image{
  width: 280px;
  height: auto;
}

.card-wrapper{
  width: 70%;
  background-color: orange;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2rem;
  gap: 10px;


}

.language-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 16px;

}

.lang-card-wrapper{
  width: 150px;
  height: 150px;
   display: flex;
   background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  transition: all 0.3s;
  

}

.lang-card-wrapper:hover{
  box-shadow: 1px 3px 3px 1px black;
  transform: translateY(-5px);
  cursor: pointer;
}

.lang-card-wrapper img{
  width: 80%;
  height: 50%;
 
}
.cardImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lang-card-wrapper h3{
  color: black;

}

.language-list{
  list-style: none;
  color: black;
  padding: 1px;
}

.language-list li{
  margin-bottom: 5px;

}