* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 239, 106);
  height: 100vh;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.image{
  width: 280px;
  height: auto;
}

.card-wrapper{
  width: 70%;
  background-color: orange;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2rem;


}

.language-wrapper{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 16px;

}

.lang-card-wrapper{
  width: 8rem;
  height: 8rem;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.lang-card-wrapper img{
  width: 100%;
  height: 100%;
 
}