.home-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.about-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 55%;
}

.about-wrapper p {
	padding: 16px;
	text-align: center;
	line-height: 25px;
}

@media screen and (max-width: 575px) {
	.about-wrapper {
		width: 80%;
        flex-wrap: wrap;

	}
}
