* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.header-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid grey;
}

.main-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	position: relative;
}
.footer-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid grey;
	margin-top: auto;
	padding: 5px;
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 60%;
}
.list-wrapper li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 5px;
}

.btn-wrapper {
	display: flex;
	gap: 5px;
}

.done-btn {
	padding: 2px;
	border: 1px solid green;
	color: green;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	transition: all 0.3s;
}
.done-btn:hover {
	color: white;
	background-color: green;
}
.delete-btn {
	padding: 2px;
	border: 1px solid red;
	color: red;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	transition: all 0.3s;
}
.delete-btn:hover {
	color: white;
	background-color: red;
}

.isPacked {
	text-decoration: line-through;
}

.form-wrapper {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	margin-top: 10px;
}
.product {
	width: 70%;
	padding: 2px;
}

.add-btn {
	color: green;
	border: 1px solid green;
	padding: 2px 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
.add-btn:hover {
	background-color: green;
	color: white;
}

.select-product {
	padding: 2px;
}


.select-wrapper{
	position: absolute;
	left: 1rem;
	top: 5rem;
}