* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.header-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(210, 210, 206);
    width: 100%;
    height: 5rem;
    gap: 5px;
    box-shadow: 1px 3px 3px orangered;
}

.header-wrapper img{
    width: 50px;
    height: 50px;
}

.header-wrapper h1{
    color: #ea4e2e;
    font-size: x-large;
}

.page-title{
    margin: 1rem 0px;
    font-size: x-large;
    color: #ea4e2e;
}

.content-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.staff-info-wrapper,.document-info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
   
}

.staff-info,.document-info{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.section-1,.section-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header,.note-head{
    color: #ea4e2e;
    font-weight: bolder;
}

.title-2{
    color: white;
    background-color: rgba(218, 65, 10, 0.607);
    width: 100%;
    padding: 5px;
    font-size: large;
    
    
}
.note{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.button-wrapper{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}

.accept-btn{
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

.reject-btn{
    background-color: red;
     padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    
}